#card {
  padding: 2px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#card #img {
  width: 40px;
}

#card #title {
  width: 100px;
}

#flex-con {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
